﻿@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="@Icon align-self-center"></span>
                    <h5 class="modal-title ml-1" id="titleLabel">@TitleText</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @MessageText
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" @onclick="@Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public string TitleText { get; set; }

    [Parameter]
    public string MessageText { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public bool ShowDialog { get; set; }

    public void Close()
    {
        ShowDialog = false;
    }
}
