﻿
<button class="@ButtonClass" type="button" @onclick="Click" disabled="@ButtonEnabled">
    <span class="@ButtonIcon"></span>
    @ButtonText
</button>

@code {

    [Parameter]
    public EventCallback<SimpleButton> ClickCallback { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string ButtonClass { get; set; }

    [Parameter]
    public string ButtonIcon { get; set; }

    private bool ButtonEnabled { get; set; }

    public void SetEnabled(bool enabled)
    {
        ButtonEnabled = !enabled;
    }

    private async Task Click()
    {
        await ClickCallback.InvokeAsync(this);
    }
}
