﻿@page "/base64converter"
@inject IJSRuntime JsRuntime

<h1>Base 64 Converter</h1>

<div class="form-group">
    <textarea class="form-control col-md-6" placeholder="Non Base64" @bind-value="ToBase64Body" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">Text to encode as base64</small>
</div>

<button class="btn btn-primary" type="button" @onclick="ConvertToBase64">
    <span class="oi oi-arrow-thick-bottom"></span> Encode
</button>

<button class="btn btn-success" type="button" @onclick="ConvertFromBase64">
    <span class="oi oi-arrow-thick-top"></span> Decode
</button>

<div class="form-group">
    <textarea class="form-control col-md-6" placeholder="Base64" @bind-value="FromBase64Body" @bind-value:event="oninput"></textarea>
    <small class="form-text text-muted">Base65 encoded text here</small>
</div>

<MessageBox Icon="oi oi-warning" MessageText="@ExceptionMessage" TitleText="Error" ShowDialog="@ShowMessageBox" />

@code
{
    public string ToBase64Body { get; set; }
    public string FromBase64Body { get; set; }
    private string ExceptionMessage { get; set; }
    private bool ShowMessageBox { get; set; }

    private void ConvertToBase64()
    {
        try
        {
            var plainTextByte = Encoding.UTF8.GetBytes(ToBase64Body);
            FromBase64Body = Convert.ToBase64String(plainTextByte);
        }
        catch (Exception ex)
        {
            ExceptionMessage = ex.Message;
            ShowMessageBox = true;
        }
    }

    private void ConvertFromBase64()
    {
        try
        {
            var base64EncodedBytes = Convert.FromBase64String(FromBase64Body);
            ToBase64Body = Encoding.UTF8.GetString(base64EncodedBytes);
        }
        catch (Exception ex)
        {
            ExceptionMessage = ex.Message;
            ShowMessageBox = true;
        }
    }

}