﻿@page "/Gifs"

<div class="d-flex justify-content-center flex-nowrap">
    <h3>Search GIF's from the Giphy API</h3>
</div>

<div class="d-flex justify-content-center flex-nowrap">
    <div class="input-group w-50">
        <input type="text" class="form-control" placeholder="Search..." @bind-value="m_CurrentSearchString" @bind-value:event="oninput" @onkeydown="@OnKeyDown">
        <button class="btn btn-primary ml-2" type="button" @onclick="Search">
            <span class="oi oi-magnifying-glass"></span> Search
        </button>
    </div>
</div>

@if (m_SearchResult.meta.msg.Equals(""))
{
    <div class="d-flex justify-content-center flex-nowrap">
        <p><em>Type in some text and search...</em></p>
    </div>
}
else if (!m_SearchResult.meta.msg.Equals("OK"))
{
    <div class="d-flex justify-content-center flex-nowrap">
        <p><em>Something went wrong.</em></p>
    </div>
}
else if (m_SearchResult.meta.msg.Equals("OK") && m_SearchResult.data.Count == 0)
{
    <div class="d-flex justify-content-center flex-nowrap">
        <p><em>No GIF's found searching for "@m_OldSearchString"</em></p>
    </div>
}
else if (m_SearchResult.meta.msg.Equals("OK"))
{
    <div class="container">
        <div class="row">
            @{int count = 0;}
            @foreach (var gif in m_SearchResult.data)
            {
                <div class="col-sm mb-3 mt-3">
                    <iframe src="@gif.embed_url"></iframe>
                </div>

                count++;
                @if (count % 3 == 0)
                {
                    <!-- Force next columns to break to new line (not responsive)-->
                    <div class="w-100"></div>
                }
            }
        </div>
    </div>

    <div class="d-flex justify-content-center flex-nowrap">
        <div class="row">
            <SimpleButton ClickCallback="@PreviousPage" ButtonClass="btn btn-primary" ButtonIcon="oi oi-arrow-thick-left" ButtonText="Prev" />

            <div class="px-4 row justify-content-center align-self-center">
                Page @(m_CurrentPage + 1)/@GetTotalPages()
            </div>

            <SimpleButton ClickCallback="@NextPage" ButtonClass="btn btn-primary" ButtonIcon="oi oi-arrow-thick-right" ButtonText="Next" />
        </div>
    </div>

}

